/*import all scss file in one*/
header {
  margin: 0px 80px; }
  header .title {
    padding: 150px 0px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    font-family: "Akshar", sans-serif; }
    header .title .contact {
      border-radius: 40px;
      position: absolute; }
      header .title .contact-1 {
        background-color: #7EC885;
        height: 210px;
        width: 210px;
        top: -150px;
        left: 300px; }
      header .title .contact-2 {
        background-color: #7EC885;
        height: 140px;
        width: 140px;
        bottom: 325px;
        right: 500px;
        z-index: -1; }
      header .title .contact-3 {
        background-color: #2C6330;
        height: 150px;
        width: 150px;
        border-radius: 0px 0px 0px 40px;
        bottom: 600px;
        right: 0px;
        z-index: -1; }
      header .title .contact-4 {
        background-color: #2C6330;
        height: 110px;
        width: 110px;
        top: 350px;
        right: 1210px; }
  header .presentation {
    margin-top: 100px;
    justify-content: space-between;
    display: flex;
    align-items: center; }
    header .presentation .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 700px; }
      header .presentation .text h2 {
        font-weight: bold;
        font-size: 30px; }
      header .presentation .text p {
        font-family: "Poppins", sans-serif;
        text-align: justify;
        padding-top: 15px;
        font-size: 20px; }
    header .presentation .photo {
      display: flex;
      flex-direction: column; }
  header .teammember {
    margin-top: 200px;
    color: #121619; }
    header .teammember h3 {
      display: flex;
      justify-content: center;
      font-weight: bold;
      font-size: 40px; }
    header .teammember .triple {
      padding-top: 50px;
      justify-content: space-between;
      display: flex;
      align-items: center; }
      header .teammember .triple .first {
        display: flex;
        margin: 20px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 40px;
        height: 180px;
        width: 350px; }
        header .teammember .triple .first li {
          margin: 10px;
          list-style: none; }
      header .teammember .triple .second {
        display: flex;
        margin: 20px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 40px;
        height: 180px;
        width: 350px; }
        header .teammember .triple .second li {
          margin: 10px;
          list-style: none; }
      header .teammember .triple .third {
        display: flex;
        margin: 20px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 40px;
        height: 180px;
        width: 350px; }
        header .teammember .triple .third li {
          margin: 10px;
          list-style: none; }
  header .duo {
    margin: 200px 0px 150px 0px;
    justify-content: space-between;
    display: flex;
    align-items: center; }
    header .duo .container {
      display: flex;
      transform: translate(30%, 0%);
      top: 50%;
      left: 50%; }
    header .duo contactform {
      border: 2px solid #C072BB;
      background: rgba(255, 255, 255, 0.3);
      padding: 3em;
      height: 320px;
      border-radius: 20px;
      backdrop-filter: blur(10px);
      box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
      text-align: center;
      position: relative;
      transition: all 0.2s ease-in-out; }
      header .duo contactform p {
        font-weight: 500;
        color: #121619;
        opacity: 0.7;
        font-size: 1.4rem;
        margin-top: 0;
        margin-bottom: 60px; }
      header .duo contactform a {
        text-decoration: none;
        color: #121619;
        font-size: 12px; }
      header .duo contactform input {
        background: transparent;
        width: 200px;
        padding: 0.8em;
        margin-bottom: 2em;
        border: 2px solid #C072BB;
        border-radius: 5000px;
        backdrop-filter: blur(5px);
        box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
        color: #121619;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        transition: all 0.2s ease-in-out; }
        header .duo contactform input:hover {
          background: rgba(255, 255, 255, 0.1);
          box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2); }
        header .duo contactform input[type="fname"]:focus, header .duo contactform input[type="name"]:focus, header .duo contactform input[type="email"]:focus, header .duo contactform input[type="tel"]:focus {
          background: rgba(255, 255, 255, 0.1);
          box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2); }
        header .duo contactform input[type="button"] {
          margin-top: 10px;
          width: 150px;
          font-size: 1rem; }
          header .duo contactform input[type="button"]:hover {
            cursor: pointer; }
          header .duo contactform input[type="button"]:active {
            background: rgba(255, 255, 255, 0.2); }
      header .duo contactform:hover {
        margin: 4px; }
    header .duo ::placeholder {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      color: #121619; }
    header .duo .dropform {
      backdrop-filter: blur(10px);
      border-radius: 20px;
      box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
      position: absolute;
      transition: all 0.2s ease; }
      header .duo .dropform-1 {
        background-color: #2C6330;
        height: 80px;
        width: 80px;
        top: 20px;
        left: -40px;
        z-index: -1; }
      header .duo .dropform-2 {
        background-color: #2C6330;
        height: 100px;
        width: 100px;
        bottom: -20px;
        right: -50px;
        z-index: -1; }
      header .duo .dropform-3 {
        background-color: #7EC885;
        height: 120px;
        width: 120px;
        top: -70px;
        right: -60px; }
      header .duo .dropform-4 {
        background-color: #7EC885;
        height: 60px;
        width: 60px;
        bottom: 80px;
        left: -30px; }
    header .duo a,
    header .duo input:focus,
    header .duo select:focus,
    header .duo textarea:focus,
    header .duo button:focus {
      outline: none; }
    header .duo .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 700px; }
      header .duo .text h2 {
        font-weight: bold;
        font-size: 30px; }
      header .duo .text p {
        font-family: "Poppins", sans-serif;
        text-align: justify;
        padding-top: 15px;
        font-size: 20px; }
      header .duo .text .button {
        background: transparent;
        border: 2px solid #C072BB;
        border-radius: 5000px;
        margin: 15px;
        padding: 15px 45px;
        text-align: center;
        text-transform: uppercase;
        display: block;
        text-decoration: none; }
  header .whytelework {
    margin: 100px 0px;
    justify-content: space-between;
    display: flex;
    align-items: center; }
    header .whytelework .photo {
      display: flex;
      flex-direction: column; }
    header .whytelework .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 700px; }
      header .whytelework .text h2 {
        font-weight: bold;
        font-size: 30px;
        font-family: "Akshar", sans-serif; }
      header .whytelework .text p {
        font-family: "Poppins", sans-serif;
        text-align: justify;
        padding-top: 15px;
        font-size: 20px; }
  header .container-telework {
    display: flex;
    top: 50%;
    left: 50%;
    padding-top: 250px;
    padding-bottom: 100px;
    justify-content: center; }
  header form {
    border: 2px solid #C072BB;
    background: rgba(255, 255, 255, 0.3);
    padding: 3em;
    width: 900px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative; }
  header .drop {
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
    position: absolute; }
    header .drop-1 {
      background-color: #2C6330;
      height: 200px;
      width: 200px;
      top: 1250px;
      left: 150px;
      z-index: -1; }
    header .drop-2 {
      background-color: #7EC885;
      height: 70px;
      width: 70px;
      bottom: -450px;
      right: 850px;
      z-index: -1; }
    header .drop-3 {
      background-color: #7EC885;
      height: 120px;
      width: 120px;
      top: 1450px;
      right: 170px; }
    header .drop-4 {
      background-color: #2C6330;
      height: 120px;
      width: 120px;
      bottom: -550px;
      left: 850px; }
    header .drop-5 {
      background-color: #7EC885;
      height: 50px;
      width: 50px;
      bottom: -370px;
      left: 1100px; }
    header .drop-6 {
      background-color: #7EC885;
      height: 250px;
      width: 250px;
      bottom: -1250px;
      left: 100px; }
    header .drop-7 {
      background-color: #2C6330;
      height: 120px;
      width: 120px;
      bottom: -1750px;
      left: 300px; }
    header .drop-8 {
      background-color: #2C6330;
      height: 180px;
      width: 180px;
      bottom: -1200px;
      left: 1150px;
      z-index: -1; }
    header .drop-9 {
      background-color: #7EC885;
      height: 140px;
      width: 140px;
      bottom: -1750px;
      left: 1150px; }
    header .drop-10 {
      background-color: #2C6330;
      height: 80px;
      width: 80px;
      bottom: -1810px;
      left: 850px;
      z-index: -1; }
    header .drop-11 {
      background-color: #7EC885;
      height: 100px;
      width: 100px;
      bottom: -1920px;
      left: 450px; }
    header .drop-12 {
      background-color: #2C6330;
      height: 60px;
      width: 60px;
      bottom: -1870px;
      left: 1350px; }
    header .drop-13 {
      background-color: #7EC885;
      height: 55px;
      width: 55px;
      bottom: -1700px;
      left: 100px; }
    header .drop-14 {
      background-color: #2C6330;
      height: 60px;
      width: 60px;
      bottom: -500px;
      left: 100px; }
    header .drop-15 {
      background-color: #7EC885;
      height: 70px;
      width: 70px;
      bottom: -1000px;
      left: 1350px; }
  header a,
  header input:focus,
  header select:focus,
  header textarea:focus,
  header button:focus {
    outline: none; }

.container-home h1 {
  margin-top: 300px;
  text-align: center;
  color: #121619;
  text-transform: capitalize;
  font-family: "Akshar", sans-serif;
  font-size: 100px; }
.container-home .container {
  text-align: center;
  width: 450px;
  margin-left: auto;
  margin-right: auto; }
  .container-home .container p {
    text-align: center;
    font-size: 30px;
    font-family: "Poppins", sans-serif; }
  .container-home .container button {
    padding: 20px;
    border-style: none;
    border-radius: 15px;
    width: 200px;
    background-color: #C072BB;
    margin-top: 40px; }
    .container-home .container button a {
      text-decoration: none;
      color: #121619;
      font-family: "Poppins", sans-serif;
      font-size: 22px;
      font-weight: bold; }
.container-home a img {
  margin-left: 49%;
  width: 50px;
  height: 50px;
  margin-top: 190px;
  animation: updown 2s ease infinite; }
@keyframes updown {
  0% {
    transform: translateY(-40%); }
  50% {
    transform: translateY(40%); }
  100% {
    transform: translateY(-40%); } }
.container-home .section-calculator {
  margin-top: 300px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1340px;
  display: flex;
  justify-content: space-between; }
  .container-home .section-calculator .left {
    width: 600px; }
    .container-home .section-calculator .left h2 {
      font-family: "Akshar", sans-serif;
      font-size: 40px;
      margin-bottom: 20px; }
    .container-home .section-calculator .left h3 {
      font-family: "Poppins", sans-serif;
      font-size: 25px;
      margin-bottom: 30px; }
    .container-home .section-calculator .left p {
      font-family: "Poppins", sans-serif;
      text-align: justify;
      font-size: 18px;
      margin-bottom: 5px; }
    .container-home .section-calculator .left button {
      padding: 20px;
      border-style: none;
      border-radius: 15px;
      width: 200px;
      background-color: #C072BB;
      margin-top: 40px;
      color: #EBFFF8; }
      .container-home .section-calculator .left button a {
        text-decoration: none;
        color: #121619;
        font-family: "Poppins", sans-serif;
        font-size: 22px;
        font-weight: bold; }
  .container-home .section-calculator .right {
    width: 600px; }
.container-home .section-telework {
  margin-top: 380px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1340px;
  display: flex;
  justify-content: space-between; }
  .container-home .section-telework .right {
    width: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .container-home .section-telework .right h2 {
      font-family: "Akshar", sans-serif;
      font-size: 40px;
      margin-bottom: 40px; }
    .container-home .section-telework .right div {
      display: flex; }
      .container-home .section-telework .right div p {
        font-family: "Poppins", sans-serif;
        text-align: justify;
        font-size: 30px;
        margin-left: 20px; }
    .container-home .section-telework .right button {
      padding: 20px;
      border-style: none;
      border-radius: 15px;
      width: 200px;
      background-color: #C072BB;
      margin-top: 40px; }
      .container-home .section-telework .right button a {
        text-decoration: none;
        color: #121619;
        font-family: "Poppins", sans-serif;
        font-size: 22px;
        font-weight: bold; }
  .container-home .section-telework .left {
    width: 600px;
    position: relative; }
    .container-home .section-telework .left h4 {
      color: #EBFFF8;
      font-family: "Akshar", sans-serif;
      font-size: 30px;
      margin-top: 10px; }
    .container-home .section-telework .left p {
      color: #EBFFF8;
      font-family: "Poppins", sans-serif;
      font-size: 20px;
      margin-top: 10px; }
    .container-home .section-telework .left .carre-un {
      text-align: center;
      position: absolute;
      width: 200px;
      height: 130px;
      background-color: #121619;
      border-radius: 20px;
      margin-left: -60px;
      top: 40%;
      color: #EBFFF8; }
    .container-home .section-telework .left .carre-deux {
      text-align: center;
      position: absolute;
      width: 150px;
      height: 130px;
      background-color: #7EC885;
      border-radius: 20px;
      bottom: 0px;
      right: 30%;
      margin-bottom: -45px;
      color: #EBFFF8; }
    .container-home .section-telework .left .carre-trois {
      text-align: center;
      position: absolute;
      width: 300px;
      height: 100px;
      background-color: #C072BB;
      border-radius: 20px;
      right: 5%;
      margin-top: -75px;
      color: #EBFFF8; }
.container-home section {
  margin-top: 250px;
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto; }
  .container-home section h3 {
    font-family: "Akshar", sans-serif;
    font-size: 40px;
    margin-bottom: 70px; }
  .container-home section p {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    text-align: justify; }
  .container-home section button {
    padding: 20px;
    border-style: none;
    border-radius: 15px;
    width: 200px;
    background-color: #C072BB;
    margin-top: 40px; }
    .container-home section button a {
      text-decoration: none;
      color: #121619;
      font-family: "Poppins", sans-serif;
      font-size: 22px;
      font-weight: bold; }

.container-CO2 {
  display: flex;
  margin: 100px 420px;
  top: 50%;
  left: 50%; }
  .container-CO2 CO2form {
    border: 2px solid #C072BB;
    background: rgba(255, 255, 255, 0.3);
    padding: 3em;
    height: 320px;
    width: 400px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative; }
    .container-CO2 CO2form p {
      font-weight: 500;
      color: #121619;
      opacity: 0.7;
      font-size: 1.4rem;
      margin-top: 0;
      margin-bottom: 60px; }
    .container-CO2 CO2form a {
      text-decoration: none;
      color: #121619;
      font-size: 12px; }
    .container-CO2 CO2form input {
      background: transparent;
      width: 300px;
      margin: 2em 0em;
      padding: 1em;
      margin-bottom: 2em;
      border: 2px solid #C072BB;
      border-radius: 5000px;
      backdrop-filter: blur(5px);
      box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
      color: #121619;
      font-family: "Poppins", sans-serif;
      font-weight: 500; }

footer {
  background-color: #121619;
  margin-top: 200px;
  height: 250px; }
  footer .container-footer {
    display: flex;
    justify-content: space-between;
    position: relative; }
    footer .container-footer h5 {
      font-size: 30px;
      font-family: "Akshar", sans-serif;
      margin-left: 10%;
      color: #EBFFF8;
      margin-top: 95px; }
    footer .container-footer .bar {
      position: absolute;
      left: 50%;
      margin-top: 62.5px;
      width: 4px;
      height: 125px;
      background-color: #EBFFF8; }
    footer .container-footer .mefo {
      display: flex;
      justify-content: space-between;
      margin-top: 70px;
      margin-right: 10%; }
      footer .container-footer .mefo ul {
        text-align: center;
        padding-right: 20px; }
        footer .container-footer .mefo ul li {
          font-family: "Poppins", sans-serif;
          font-size: 20px;
          list-style: none;
          margin-bottom: 50px; }
          footer .container-footer .mefo ul li a {
            color: #EBFFF8; }
  footer .right p {
    text-align: center;
    color: #EBFFF8; }

* {
  text-decoration: none;
  color: #121619;
  margin: 0px; }

body {
  background-color: #EBFFF8; }

nav {
  padding: 15px 0;
  background-color: transparent; }
  nav .container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px; }
    nav .container-nav .logo {
      display: flex;
      align-items: center;
      width: 400px;
      font-family: "Akshar", sans-serif;
      font-size: 25px; }
      nav .container-nav .logo h2 {
        padding-left: 5%; }
    nav .container-nav .menu ul {
      display: flex; }
      nav .container-nav .menu ul li {
        list-style: none;
        margin: 0 10px; }
        nav .container-nav .menu ul li a {
          width: 100%;
          display: block;
          padding: 10px 0;
          font-family: "Poppins", sans-serif;
          font-size: 20px; }

body .formCalc form {
  text-align: center; }
  body .formCalc form .submit input {
    width: 240px;
    height: 59px;
    background: #C072BB;
    border-radius: 80px;
    cursor: pointer;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: #161219; }
  body .formCalc form .form-group {
    margin-bottom: 150px;
    display: block;
    width: 100%; }
    body .formCalc form .form-group label {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 35px; }
    body .formCalc form .form-group input {
      width: 800px;
      height: 80px;
      background: #EBFFFF;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 45px;
      border: none;
      outline: none; }

/*# sourceMappingURL=app.css.map */
