nav {
  margin-top: 10px;
  .nav {
    height: 50px;
    width: 100%;
    background-color: transparent;
    position: relative;
    .nav-header {
      display: inline;
      .nav-title {
        display: inline-block;
        font-size: 35px;
        font-family: $primary-font;
        color: $colortext;
        padding: 10px;
      }
    }
    .nav-btn {
      display: none;
    }
    .nav-links {
      display: inline;
      float: right;
      font-size: 18px;
    }
    a {
      display: inline-block;
      padding: 13px 10px 0 10px;
      text-decoration: none;
      color: $colortext;
      font-family: $secondary-font;
    }
    a:hover {
      border-bottom: $decolor 3px solid;
    }
    #nav-check {
      display: none;
    }
    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
    }
  }
  @media (max-width:600px) {
    .nav{
      .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
        label {
          display: inline-block;
          width: 50px;
          height: 50px;
          padding: 13px;
          span {
            z-index: +1;
            display: block;
            width: 35px;
            height: 8px;
            border-top: 5px solid $colortext;
          }
        }
      }
      .nav-links {
        text-align: center;
        position: absolute;
        display: block;
        width: 100%;
        background-color: $secondarycolor;
        height: 100px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 60px;
        left: 0px;
        right: 0px;
        a {
          display: block;
          width: 100%;
        }
      }
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: transparent;
      z-index: +1;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: max-content;
      overflow-y: auto;
    }
  }
}