$background: #EBFFF8;

$primarycolor: #2C6330;

$secondarycolor: #7EC885; 

$decolor: #C072BB;

$colortext: #121619;
 
$border: 2px solid #C072BB;

$white: rgba(255,255,255,0.3);

$primary-font: 'Akshar', sans-serif;

$secondary-font:'Poppins', sans-serif;


@mixin for-mobile {
    @media (max-width: 600px) {
        @content;
    }
}